<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert 1</title>
</head>

<body>
    <div class="alert alert--success alert--lg">
        <div class="alert__icon icon--success"></div>
        <div class="alert__content">
            <div class="alert__title">SUCCESS</div>
            <div class="alert__description">Everything is okay here.</div>
        </div>
        <div class="alert__close">
        </div>
    </div>
</body>

</html>