<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="comment_1.css">
    <title>Comment 1</title>
</head>

<body>


    <div class="comment comment--white">
        <figure class="comment_figure">
            <img src="img/nat-7.jpg" alt="" class="comment__image">
            <figcaption class="comment__caption">Walter Sono</figcaption>
        </figure>

        <div class="comment__text">
            <div class="comment__title">This is the main message</div>

            <p class="comment__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sit quos fugiat alias molestiae at autem
                rem possimus itaque provident recusandae, temporibus voluptates magnam, accusamus molestias cum numquam
                culpa rerum?
                Explicabo debitis dolores eos expedita delectus, ratione magnam quibusdam, rerum qui voluptatum dolore
                in necessitatibus reprehenderit incidunt quasi alias soluta ducimus corrupti reiciendis vero, numquam
                repellat assumenda!
                in necessitatibus reprehenderit incidunt quasi alias.
            </p>
        </div>
    </div>

</body>

</html>