*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    -webkit-background-image: linear-gradient(to right bottom, #55c57a, #28b485);
    background-image: linear-gradient(to right bottom, #55c57a, #28b485);
    padding: 100px;
    font-family: arial;
    height: 100vh;
    width: 100%;
}

.comment {
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    transform: skewX(-12deg);
}

.comment--white {
    background-color: rgba(255, 255, 255, 0.8);
}

.comment > * {
    transform: skewX(12deg);
}

.comment::after {
    content: "";
    display: table;
    clear: both;
}

.comment_figure {
    width: 150px;
    height: 150px;
    background-color: orange;
    border-radius: 50%;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    transform: translateX(-1rem) skewX(12deg);
    overflow: hidden;
    position: relative;
}

.comment__image {
    height: 100%;
    transform: translateX(-20px);
    transition: all 0.3s ease;
}

.comment__caption {
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: all 0.3s ease;
}

.comment__title {
    text-transform: uppercase;
    color: #777;
    margin-bottom: 5px;
    font-size: 18px;
}

.comment__paragraph {
    color: #777;
    line-height: 1.5;
    font-size: 15px;
}

.comment:hover .comment__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.comment:hover .comment__image {
    filter: blur(3px) brightness(80%);
}
