<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="image_composition.css">
    <title>Image Composition</title>
</head>

<body>
    <div class="container">
        <div class="composition">
            <img src="imgs/nat-1-large.jpg" alt="" class="composition__photo composition__photo--p1">
            <img src="imgs/nat-2-large.jpg" alt="" class="composition__photo composition__photo--p2">
            <img src="imgs/nat-3-large.jpg" alt="" class="composition__photo composition__photo--p3">
        </div>
    </div>
</body>

</html>