<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="nav_1.css">
    <title>Nav Style 1</title>
</head>

<body>
    <nav class="nav">
        <div class="sidebar">
            <span class="sidebar__title">Sidebar title</span>

            <div class="sidebar__items">
                <div class="sidebar__item">
                    <span class="sidebar__item-title">Item 1</span>
                    <a href="" class="sidebar__subitem">
                        <i class="fa fa-play-circle"></i>
                        <strike> Subitem 1 of 1</strike>
                    </a>
                    <a href="" class="sidebar__subitem">
                        <i class="fa fa-play-circle"></i>
                        <strike> Subitem 2 of 1</strike>
                    </a>
                </div>
                <div class="sidebar__item">
                    <span class="sidebar__item-title">Item 2</span>
                    <a href="" class="sidebar__subitem">
                        <i class="fa fa-play-circle"></i>
                        Subitem 1 of 2
                    </a>
                    <a href="" class="sidebar__subitem">
                        <i class="fa fa-play-circle"></i>
                        Subitem 2 of 2
                    </a>
                    <a href="" class="sidebar__subitem">
                        <i class="fa fa-play-circle"></i>
                        Subitem 3 of 2
                    </a>
                </div>
            </div>
        </div>
        <div class="topbar bg--success">
            <div class="topbar__items">
                <div class="topbar__item sidebarToggle"><i class="fa fa-bars"></i></div>
                <div class="topbar__item topbar__title">Navbar style 1</div>
                <div class="topbar__item"><button class="topbar__btn">Dashboard</button></div>
            </div>
        </div>
    </nav>

    <script src="nav_1.js"></script>
</body>

</html>